<div class="row">
  <div class="table-responsive col-md-6">
    <div *ngIf="team1Progress">
      <div *ngIf="team1TimeOnCurrentQuestionInSeconds" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <span class="timer">{{ team1TimeOnCurrentQuestionInSeconds }}</span>
        </div>
      </div>
      <div *ngIf="team1CompletionTime" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="completion-time">Completion Time: {{ team1CompletionTime }}</span>
        </div>
      </div>
      <table class="table table-primary">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of team1Progress.progress">
            <th scope="row">{{ question.questionNumber }}</th>
            <th scope="row">{{ question.duration }}</th>
            <!--<th class="text-light" scope="row">{{ question.duration }}</th>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-responsive col-md-6">
    <div *ngIf="team2Progress">
      <div *ngIf="team2TimeOnCurrentQuestionInSeconds" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <span class="timer">{{ team2TimeOnCurrentQuestionInSeconds }}</span>
        </div>
      </div>
      <div *ngIf="team2CompletionTime" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="completion-time">Completion Time: {{ team2CompletionTime }}</span>
        </div>
      </div>
      <table class="table table-danger">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of team2Progress.progress">
            <th scope="row">{{ question.questionNumber }}</th>
            <th scope="row">{{ question.duration }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--
  <div *ngFor="let question of team1Progress.progress">
    <div>{{ question.questionNumber }}</div>
    <div>{{ question.questionTitle }}</div>
    <div>{{ question.duration }}</div>
  </div>
  <div *ngFor="let question of team2Progress.progress">
    <div>{{ question.questionNumber }}</div>
    <div>{{ question.questionTitle }}</div>
    <div>{{ question.duration }}</div>
  </div>
  -->
